* {
	font-family: Georgia,Times,serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 11pt;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #a48164;
	background-image: url('../img/center.png');
	background-position: center;
	background-repeat: repeat-y;
}
		
div#body {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-left: 2px solid #fbe8cf;
	border-right: 2px solid #fbe8cf;
}

div#head {
	width: 600px;
	padding: 0px;
	background-color: #000000;
	color: #fbe8cf;
	padding-top: 2em;
	padding-bottom: 1em;
	background-image: url('../img/header_bg.png');
	background-position: top center;
	background-repeat: repeat-x;
}

div#menu {
	float:right;

}

div#content {
	width: 600px;
	border-top: 2px solid #7f935c;
	background-color: #f1d876;
	padding-bottom: 1em;
}
	
div#footer {
	clear: both;
	background-color: #000000;
	color: #fbe8cf;
	border-top: 2px solid #7f935c;

	height: 508px;
	background-image: url('../img/siege.png');
	background-position: center top;
	background-repeat: no-repeat;
}

div#footer span {
	text-align: center;
	display: block;
	margin-top: 0.25em;
	font-size: 16pt;	
}

div#true_footer {
	font-size: 8pt;
	font-style: italic;
	background-color: #fbe8cf;
	text-align: right;
	padding: 0.25em;
	border-top: 2px solid #f1d876;
}

div#true_footer a {
	font-size: 8pt;
	font-style: italic;

}

h1 {
	text-align: center;
	font-size: 20pt;
}

h2 {
	font-size: 18pt;
	margin: 0.5em;
	margin-top: 1em;
	border-bottom: 2px solid #7f935c;
}

p {
	text-indent: 2em;
	text-align: justify;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 0.5em;
}

div.achiev {
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 0.5em;
	color: #ffffff;
	border: 2px solid #7f935c; 
}

div.achiev img {
	float: left;
	display: block;
	width: 64px;
	height: 64px;
}

div.achiev .name {
	display: block;
	color: #fbe8cf;
	margin-top: 4px;
	margin-left: 70px;
	height: 15px;
}

div.achiev .text {
	display: block;
	margin-top: 4px;
	margin-left: 70px;
	height: 15px;
}

div.achiev .progress {
	display: block;
	margin-top: 5px;
	margin-left: 70px;
	height: 20px;
}

div.locked {
	color: #B0B0B0;
	background-color: #404040;
}

div.unlocked {
	background-color: #000000;
}

p.first {
	text-indent: 0em;
}

pre {
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 0.5em;
	font-family: "courier new";
}

tt {
	font-family: "courier new";
	font-style: italic;
}

strong {
	font-weight: bold;
}

div#head p {
	text-align: center;
	margin-bottom: 0em;
}

.clearer {
	clear:both;
}

div.box {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #7f935c; 
	background-image: url('../img/right.png');
	background-position: left;
	background-repeat: repeat-y;
	background-color: #fbe8cf;
	margin-bottom: 0.5em;
}

div.box img {
	border-bottom: 2px solid #7f935c;
}

div.box a:hover img {
	border-bottom: 2px solid #801818;
}

div.box span {
	font-size: 8pt;
	font-style: italic;
	padding: 0.5em;
	padding-left: 2.5em;
	display: block;
	text-align: justify;
	background-image: url('../img/left_bottom.png');
	background-position: right bottom;
	background-repeat: no-repeat;
}

div.box a {
	font-size: 8pt;
	font-style: italic;
}

div.box ul li {
	font-size: 8pt;
	font-style: italic;
}

div.box span span.quoteSignature {
	padding: 0px;
	text-align: right;
}

hr {
	height: 43px;
	border: 0px none;
	background-image: url('../img/hr.png');
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 0.5em;
}

.last {
	margin-bottom: 0em;
}

a {
	color: #801818;
}

a:hover {
	color: #3f381f;
}

a img {
	border: 0px solid;
}

ul {
	list-style-type: square;
}

div.box a.main_download {
	font-size: 16pt;
	font-style: normal;
	display: block;
	text-align: center;
	padding: 0.2em;
}

div.box span.main_download_info {
	padding: 0em;
	font-size: 10pt;
	display: block;
	text-align: center;
	background-image: none;
}

div.box span.download {
	padding: 0.5em;
}